# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ncb
*BuildLog.htm
*.bak
*.vcproj.*.user
*.vcproj.user
*.vcxproj.user
*.vcxproj.filters
*.suo
*.o
*.a
*.sdf
*.opensdf
*.db
*.opendb

*/[dD]ebug/
*/[rR]elease/
*/*/[dD]ebug/
*/*/[rR]elease/
*/*/*/[dD]ebug/
*/*/*/[rR]elease/
*/ipch/
*/*/ipch/
*/*/bin/
*/*/obj/

*.db-wal
*.db-shm
*.ipch
